.favorite-container {
  padding: 30px;

  .favorite-goBack-btn {
    color: #fff;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #053645;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .favorite-goBack-icon {
      &:hover {
        transition: all 0.3s ease;
        transform: scale(1.5);
      }
    }
  }

  h1 {
    text-align: center;
    text-decoration: underline;
    font-weight: 500;
    font-size: 40px;
  }

  .favorite-wrapper {
    padding: 20px;

    .favorite-card-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      height: 100%;
    }

    .favorite-wrapper-noData {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;

      p {
        font-size: 15px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .favorite-container {
    .favorite-wrapper {
      .favorite-card-container {
        justify-content: center;
      }
    }
  }
}
