.favorite-container {
  //   height: 100vh; /* 100% of the viewport height */
  //   width: 100%;
  padding: 30px;
  //   border: 2px solid #000;
  //   background-color: red;
  //   text-align: center;

  .favorite-goBack-btn {
    color: #fff;
    cursor: pointer;
  }

  h1 {
    text-align: center;
    text-decoration: underline;
    color: var(--text-gray);
    font-weight: 400;
  }

  .favorite-wrapper {
    // border: 2px solid yellow;
    padding: 20px; /* Adjust as needed */
    // height: 100%;

    .card-container {
      //   background-color: teal;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      height: 100%;
    }

    .favorite-wrapper-noData {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;

      p {
        font-size: 15px;
      }
    }
  }
}
