.favorite-container {
  //   height: 100%;
  //   width: 100%;
  //   padding: 30px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  border: 2px solid #000;
  //   background-color: red;
  //   text-align: center;

  height: 100vh; /* 100% of the viewport height */
  width: 100%;
  padding: 30px;
  //   display: flex;
  //   flex-direction: column; /* Stack child elements vertically */
  //   justify-content: center;
  //   align-items: center;
  border: 2px solid #000;
  //   background-color: red;
  //   text-align: center;

  .favorite-wrapper {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    border: 2px solid yellow;
    // padding: 20px; /* Adjust as needed */
    height: 100%;

    .card-container {
      background-color: teal;
      //   display: flex;
      //   gap: 10px;
    }
  }
}
