.forecast-card {
  border: 2px solid rgba(255, 255, 255, 0.7);
  width: 200px;
  height: 200px;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  background-color: #333;

  .forecast-card-desc {
    h2 {
      color: lightgrey !important;
      font-weight: 700;
      font-size: 18px;
    }

    img {
      width: 100px;
      height: 70px;
      object-fit: cover;
    }

    .forecast-temp {
      margin-top: 10px;
      span {
        color: var(--text-gray);
      }
    }
  }
}
