.forecast-card {
  border: 1px solid #eee;
  width: 190px;
  border-radius: 10px;
  padding: 10px;
  background: rgba(24, 24, 27, 0.8);

  .forecast-card-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-align: center;

    .forecast-card-day {
      background-color: #3c3c44;
      border-radius: 50px;
      text-align: center;
      padding: 5px 25px;
      h3 {
        color: #fff;
        font-weight: 400;
      }
    }

    h2 {
      color: lightgrey !important;
      font-weight: 700;
      font-size: 16px;
    }

    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }

    .forecast-temp {
      margin-top: 8px;
      font-weight: 100;
      font-size: 18px;
      color: #eee;
    }
  }
}
