.autocomplete-container {
  position: absolute;
  margin-top: 5px;
  width: 305px;

  ul {
    border-radius: 5px;
    padding: 10px;
    background-color: var(--bg-text-color);
    text-align: center;

    li {
      width: 100%;
      color: var(--text-black);
      padding: 10px 15px;
      cursor: pointer;

      &:hover {
        background-color: #efefef;
        color: #000;
      }
    }
  }

  .autocomplete-container-error {
    color: #000;
    text-align: center;
    font-weight: 700;
  }
}
