.search-wrapper {
  background-color: var(--bg-text-color);
  border-radius: 10px;
  height: 40px;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  display: flex;
  align-items: center;

  .search-icon {
    color: royalblue;
  }

  input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 20px;
    width: 100%;
    margin-left: 8px;

    &:focus {
      outline: none;
    }
  }
}
