.card {
  border: 2px solid rgba(255, 255, 255, 0.7);
  padding: 10px 15px;
  border-radius: 10px;
  width: 450px;
  //   background-color: var(--text-color);
  background-color: #333;
  // background-color: #f6f6f8;

  .card-top {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 60px;

    .card-top-city-details {
      display: flex;
      flex-direction: column;
      margin-right: 50px;

      .card--top-city-name {
        font-weight: 600;
        font-size: 20px;
        color: #fff;
        line-height: 1;
        margin: 0;
        letter-spacing: 1px;
        text-transform: capitalize;
      }

      .card-city-weather-desc {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
      }
    }

    .card-weather-icon {
      width: 140px;
    }
  }

  .card-bottom {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 2px;

    h2 {
      color: #fff !important;
      font-weight: 600px;
      font-size: 70px;
      width: auto;
      letter-spacing: -5px;
      margin: 10px 0;
    }

    .card-bottom-city-details {
      //   display: flex;

      h4 {
        // color: var(--text-color);
        color: #fff;
      }

      .card-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 1px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .card {
    width: 380px;
  }

  .card-btn {
    .add-to-fav-btn,
    button.remove-btn {
      font-size: 16px;
    }
  }
}
