* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --bg-primary: #A4A6AC;
  --bg-secondary: #f6f6f7;
  --text-color: #1e1714;
  --text-gray: #5e5353;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button {
  border: none;
}

body {
  /* background-color: var(--bg-primary); */
  background: linear-gradient(100deg, #47bfdf 0%, #4a91ff 100%);
  /* background-color: #d5d4d4; */

  color: #eae6f2;
}